.hero-unit{
  padding:1px 0 10px 0;
  margin-top: -5px;
  font-weight:200;
  color:inherit;
  background-color:#eee;
  background: url(http://www.nhatcuong.com/content/images/header-pattern.gif);
  border-bottom: 2px solid #16B97F;
}

body{
  background-color: #f4f4f4;
}

  .hero-unit h1{margin-bottom:0;font-size:60px;line-height:1;letter-spacing:-1px;color:inherit}
  .hero-unit li{line-height:30px}
.hero-unit > center > h1{
  font-size: 50px;
  position: relative;
}

.detail-left{
  padding-right: 0;
}

._bg-color-1{
  background-color: #39af94;
}
._btn{
  margin: 10px auto 0;
  padding: 10px 80px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  border-radius: 5px;
  border: 0;
  border-bottom: 3px solid #009b69;
  background-color: #0db384;
}
a._btn:hover{
  color: white;
  text-decoration: none;
}
._btn:hover{
  background-color: #009b69;
}
footer{
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-bottom: 15px;
}
#form-upload{
  padding: 20px 0;
}
#form-upload .row{
  padding: 10px 0;
}
._form-text{
  outline: none;
  border: 5px solid #0db384 ;
  padding: 10px 20px!important;
  font-size: 26px !important;
  height: 46px !important;
  width: 292px !important;
  line-height: 46px !important;
}
.custom-file-input{
  height: auto !important;
}
input[disabled]{
  background-color: #0db384 !important;
  opacity: 0.3;
}

._title{
  color: #009b69;
}
._share-fix{
  position: absolute;
  left: 30px;
  top: 120px;
}
._cmt-textare{
  width: 100%;
  margin-bottom: 10px;
}
._cmt-username{
  font-size: 15px;
}
._cmt-content{
  font-size: 15px;
  color: #606060;
}
._hello{
  color: white;
}
._logout{
  color: red;
}


h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}  




/*Css for show product*/

.module-product-list .product-item {
    background-color: white;
    border-color: #ededed;
    border-style: solid;
    border-width: 1px;
    height: 320px;
    position: relative;
}
.product-item-1{
  height: 310px;
}
.product-item .pro-img {
    border: 0 none;
    bottom: 0;
    overflow: hidden;
    padding: 20px 10px 10px 10px;
    position: relative;
    text-align: left;
    width: 100%;
}
.product-item .pro-img > a.pu-image {
    position: relative;
    overflow: hidden;
}
.product-item .pro-img > a {
    display: block;
    font-size: 0;
    height: 200px;
    text-align: center;
}
.product-item .product-price-info {
    position: relative;
}
.product-item .product-price {
    color: #c70101;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.product-item .product-tile, .product-item .product-service, .product-item .product-more-listing-option {
    color: #bbb;
    margin-left: 10px;
}
.product-item .product-tile {
    color: #323232;
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: 40px;
    overflow: hidden;
    text-align: left;
}
.product-tile a{
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.product-service .rate-good-product{
  color: #16B97F;
  margin-left: 0px;
  font-weight: bold;
}

.product-service .rate-bad-product{
  color: #444;
  font-weight: bold;
  margin-left: 10px;
} 
.product-image{
  height: 240;
  width: 265;
}
.product-info-top {
  padding-top: 10px;
}
.product-info-top .product-info-top-left {
  float: left;
  width: 352px;
}
.product-info-top .product-info-top-right {
  margin-left: 372px;
}
.widget-detail a {
  display: block;
  font-size: 0;
  height: 350px;
  text-align: center;
}
.desc-main-attr {
  padding-top: 12px;
}

.option-product {
  margin: 0;
}
.module-product-main-info * {
  font-size: 15px;
}

.desc-main-attr>ul>li {
  padding-left: 10px;
  position: relative;
  width: 50%;
  float: left;
  line-height: 26px;
}
.option-product li {
  line-height: 17px;
  list-style: none outside none;
  padding-left: 9px;
}
.fading-text {
  color: #888;
}

.parametdesc{
float: left;
width: 48%;  
}

table tr{
   height: 5px;
}

h1.product-detail-title{
  color: blue;
}

.vote-div{
  padding-top: 20px;
  color: #444;
  font-weight: bold;
}
.vote-div button{
  margin-top: 5px;
}


/*search css*/
.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

._container{
  width: 1240px;
  margin-top: 10px;
}
._container .col-md-2{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
._container_1{
  width: 100%;
  margin-top: 10px;
}
._container_1 .col-md-9{
  background-color: white;
}
.product-item .pro-img > a.pu-image img{
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
    border-bottom: 2px solid #16B97F;
}

._hide{
  display: none;
}

._nav li{
  display: inline-block;
}

._nav li p{
  margin-bottom: 5px;
}
._pagination{
  margin: 0;
}
.widget-image-product a{
  margin-top: 30px;
  width: 100%;
  display: block;
  position: relative;
  height: 150px;
}
.widget-image-product a > img{
  height: 100%;
  width: 100%;
}
._gray{
  background-color: #f4f4f4;
}
._table{
  border: 1px solid #f4f4f4;
}
._width_100{
  width: 100%;
}
._cmt .col-md-10{
  padding: 0 30px 0 35px;
}
._cmt ._textarea{
  padding-top: 20px;
  border-top: 2px solid #4cae4c;
}
._cmt textarea{
  background-color: #f4f4f4;
}
._btn-submit{
  width: 200px;
  font-size: 16px;
  float: right;
  margin-bottom: 15px;
}
#recommend_list{
  background-color: #fff;
}
._header{
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  background-color: #42D6A2;
  border-bottom: 2px solid #16B97F;
  width: 100%;
  text-align: center;
}
._list-item{
  list-style: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
._list-item > li{
  display: block;
  padding: 5px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}
._list-item > li ._stt{
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 12px;
  color: #fff;
  background-color: #DD3030;
  z-index: 999;

}
._list-item1 > li ._favorite{
  position: absolute;
font-weight: bold;
font-size: 10px;
padding: 130px 12px;
color: #46ff23;

}
._list-item a{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 120px;
  display: block;
  overflow: hidden;
}
._list-item a img{
  width: 100%;
  height: 100%;
}
._list-item ._content{
  margin-left: 110px;
  position: relative;
  display: inline-block;
  min-height: 125px;
}
._list-item ._content span{
  color: #c70101;
  width: 100%;
font-size: 14px;
}
._list-item ._content p{
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
._list-item ._content p + p{
  font-size: 12px;
  color: #29A7D8;
}

._list-item1{
  list-style: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
._list-item1 > li{
  display: inline-block;
  padding: 5px;
  position: relative;
  margin:0;
  background-color: white;
  width: 32%;
  border: 1px solid #f4f4f4;
  margin: 5px;
  height: 170px;
}
._list-item1 > li ._stt{
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 12px;
  color: #fff;
  background-color: #DD3030;
  z-index: 999;

}
._list-item1 a{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 120px;
  display: block;
  overflow: hidden;
}
._list-item1 a img{
  width: 100%;
  height: 100%;
}
._list-item1 ._content{
  margin-left: 110px;
  position: relative;
  display: inline-block;
  min-height: 125px;
}
._list-item1 ._content span{
  color: #c70101;
  width: 100%;
  font-size: 14px;
}
._list-item1 ._content p{
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
._list-item1 ._content p + p{
  font-size: 12px;
  color: #29A7D8;
}


._ava > center{
  background-color: white;
  padding-top: 20px;
  border: 1px solid #e3e3e3;
}

._ava h3{
  background-color: #16B97F;
  font-weight: bold;
  color: white;
  padding: 10px 0;
  margin: 0;
  margin-top: 20px;
}

._well{
  border-radius: 0;
  background-color: white;
  padding: 0;
  padding-bottom: 30px;
}

._well-1{
  border: 1px solid #e3e3e3;;
  background-color: white;
  padding: 0;
}

._well h3, ._well-1 h3{
  font-weight: bold;
  background-color: #16B97F;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}
.wrap{
  padding: 0 15px;
}
.wrap .title{
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  border-top: 1px solid #f4f4f4;

}
.wrap > form > input{
  margin-left: 15px;
}
._btn-search{
  margin-left: 0px !important;
  margin-top: 20px;
  width: 100%;
}

._wrap-table{
  display: block;
  width: 100%;
  padding: 0 20px;
}

._wrap-table tr, ._wrap-table th{
  text-align: center;
}
._wrap-table ._info{
  font-size: 30px;
  margin: 10px 10px ;
}

._well .btn-primary{
  margin-left: 20px;
  font-weight: bold;
  width: 160px;
  margin-bottom: 15px;
}
/*Loading */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}